<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Temple of Secrets</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel = "stylesheet" href = "{{ url_for('static', filename= 'style.css') }}"> 
    </head>
    <body>
        <div id="location">
            <h1 id="location-name">{{ location.name }}</h1>
            <!--Displays the intro to the game-->
            <div id="message">{{ message }}</div>
        <p id="location-description">{{ location.description }}</p>
        <ul id="location-items">
            <h2>Location Items:</h2>
            {% if location.location_items %}
            {% for item in location.location_items %}
            <li>{{ item }}</li>
            {% endfor %}
            {% else %}
            <li>No items here</li>
            {% endif %}
        </ul>
    </div>
    <!-- Movement Buttons -->
    <form id="action-form">
        <div>
            <button type="button" data-action="Go North" {% if 'north' not in location.directions %}disabled{% endif %}>Go North</button>
            <button type="button" data-action="Go South" {% if 'south' not in location.directions %}disabled{% endif %}>Go South</button>
            <button type="button" data-action="Go East" {% if 'east' not in location.directions %}disabled{% endif %}>Go East</button>
            <button type="button" data-action="Go West" {% if 'west' not in location.directions %}disabled{% endif %}>Go West</button>
        </div>
        <!-- Get Item Button for player to collect item -->
        <div>
            <button type="button" data-action="get">Get</button>
        </div>
        <!-- Utility Buttons on Separate Lines -->
        <div>
            <button type="button" data-action="restart">Restart</button>
        </div>
        <div>
            <button type="button" data-action="inventory">Inventory</button>
        </div>
        <div>
            <button type="button" data-action="quit">Quit</button>
        </div>
        
    </form>
</body>
</html>