body
{
    font-size: 20pt;
    font-family: 'Trebuchet MS';
    background-color: green;
    
}

h1
{
    font-size: xx-large;
    font-style: italic;
    color: cyan;
    font-weight: 600;
}


p
{
    font-size: medium;
    color: lightblue;
    font-variant: small-caps;
}
